Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: ''
HeaderFilterRegex: '.*(core|infra|ui|tests)/.*'
FormatStyle: none
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '2'
  - key: readability-function-size.LineThreshold
    value: '300'
